@font-face {
    font-family: 'bebas_modregular';
    src: url('$(font-path)/bebasRegular/bebasmod-regular-webfont.eot');
    src: url('$(font-path)/bebasRegular/bebasmod-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('$(font-path)/bebasRegular/bebasmod-regular-webfont.woff') format('woff'),
         url('$(font-path)/bebasRegular/bebasmod-regular-webfont.ttf') format('truetype'),
         url('$(font-path)/bebasRegular/bebasmod-regular-webfont.svg#bebas_modregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yellow-modregular';
    src: url('$(font-path)/yellowTailRegular/yellow-mod-regular-webfont.eot');
    src: url('$(font-path)/yellowTailRegular/yellow-mod-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('$(font-path)/yellowTailRegular/yellow-mod-regular-webfont.woff') format('woff'),
         url('$(font-path)/yellowTailRegular/yellow-mod-regular-webfont.ttf') format('truetype'),
         url('$(font-path)/yellowTailRegular/yellow-mod-regular-webfont.svg#yellow-modregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'steelfishregular';
    src: url('$(font-path)/steelFish/steelfish_rg-webfont.eot');
    src: url('$(font-path)/steelFish/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('$(font-path)/steelFish/steelfish_rg-webfont.woff2') format('woff2'),
         url('$(font-path)/steelFish/steelfish_rg-webfont.woff') format('woff'),
         url('$(font-path)/steelFish/steelfish_rg-webfont.ttf') format('truetype'),
         url('$(font-path)/steelFish/steelfish_rg-webfont.svg#steelfishregular') format('svg');
    font-weight: normal;
    font-style: normal;
}