@import 'social_share.css';

.wrapper {
	width: 960px;
	margin: 0 auto; 
}

#main-menu {
	min-width: 1024px;
	.top-bar {
		height: 28px;
		background-color: $main-black;
	}
	.bottom-bar {
		background: linear-gradient(#e1e1e1, #f2f2f2);
		height: 57px;
	}
	
	.menu-copy {
		position: relative;
		top: -85px;
		text-align: center;
		.logo {
			display: inline-block;
			float: left;
			height: 86px;
			width: 183px;
			background-color: $main-blue;
			text-transform: uppercase;
			color: white;
			font: 14px/120px $bebas-mod-reg;
		}
		.menus {
			display: inline-block;
			float: left;
			.top {
				display: flex;
				flex-direction: row;
				a {
					display: block;
					color: #e1e1e1;
					font: bold 11px/28px Arial;
					padding: 0 12.5px;
					&:hover {
						color: $main-blue;
					}
				}
				.i18n {
					.flag {
						background: url('$(img-path)/usflag.png') 0 0 no-repeat;
						width: 21px;
						height: 15px;
					}
				}
			}
			.bottom {
				display: flex;
				flex-direction: row;
				ul {
					display: inherit;
					a {
						display: block;
						color: $main-black;
						font: 19.2px/57px $bebas-mod-reg;
						padding: 0 13px;
						&:hover {
							background-color: $main-black;
							color: white;
						}
					}
				}
				a.book-now {
					display: block;
					width: 75px;
					height: 57px;
					background-color: $main-blue;
					color: white;
					font: 31.19px/23.35px $bebas-mod-reg;
				}
			}
		}
	}
}

#home-slider {
	min-width: 1024px;
	height: 604px;
	background-color: #373737;
	
	.nav-images {
	    position: absolute;
	    left: 50%;
	   	margin-left: -720px;
	    min-width: $min-width;
	    width: $main-width;
	    height: 100%;
		.slide {
			position: absolute;
			z-index: 0;
			opacity: 0;
			transition: opacity 1s;
			&.active {
				transition-timing-function: ease-in;
				z-index: 1;
				opacity: 1;
			}
		}
	}
	.nav-buttons{
		position: absolute;
		display: flex;
		z-index: 2;
		.btn {
			position: relative;
			width: 51px;
			height: 51px;
			border-radius: 50%;
			border: solid 3px white;
			background-color: rgba(0,0,0, 0.30);
			&:hover {
				background-color: rgba(0,0,0, 0.90);
			}
		}
		.prev {
			img {
			    margin-top: 10px;
    			margin-left: 18px;
				content: url('$(img-path)/PREV.png')
			}
		}
		.next {
			img {
				margin-top: 10px;
    			margin-left: 18px;
				content: url('$(img-path)/NEXT.png');
			}
		}
	}
	.nav-dots {
		position: relative;
		z-index: 2;
		top: 484px;
		height: 32px;
		width: 960px;
		background-color: rgba(0,0,0, 0.30);
		display: flex;
		.play-pause {
			width: 16px;
			height: 16px;
			margin: 7px 12px 3px 12px;
			border: solid 3px #383838;
			border-radius: 5px;
			text-align: center;
			background-color: white;
			color: $main-black;
			font: 6px/16px Arial;
			&:after {
				font-size: 14px;
				content: '►';
			}
			&.playing {
				&:after {
					content: '▌▌';
				}
			}
			&:hover {
				background: linear-gradient(#cdea1c, #b2cf01);
				color: white;
			}
		}
		.dots-separator {
			width: 1px;
			height: 20px;
			margin: auto 14px auto 0;
			background-color: #545454;
		}

		ul {
			display: flex;
			li.nav-dot {
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: white;
				border: solid 2px #383838;
				margin: auto 12px auto 0;
				&.active, &:hover {
					width: 10px;
					height: 10px;
					margin-left: -2px;
					margin-right: 10px;
					background-color: #30b7e6;
					border: solid 3px white;
				}
			}
		}
	}
}

#intro {
	.copy {
		width: 725px;
		h1 {
			text-transform: uppercase;
			font: 50px/1 $bebas-mod-reg;
			color: $main-black;
			span {
				text-transform: none;
				font-family: $yellow-mod-reg;
				color: $main-blue;
			}
		}
		p {
			font: 16px/24px Arial;
			a {
				font-weight: bold;
				color: $main-blue;
			}
		}
	}
}
