.social-share {
	display: flex;
	margin: 22px 0 0 523px;
	.img-wrapper {
		width: 41px;
		height: 33px;
		&.border-left {
			border-left: 1px solid rgba(154,154,154,0.20);
		}
		&.border-right {
			border-right: 1px solid rgba(154,154,154,0.20);
		}
		[class ^= "share-"] {
		    display: block;
    		margin: 6px auto;
		}
		.share-facebook {
			content: url('$(img-path)/fb.png');
		}
		.share-twitter {
			margin-top: 8px;
			content: url('$(img-path)/t.png');
		}
		.share-google-plus {
			content: url('$(img-path)/g.png');
		}
		.share-pinterest {
			content: url('$(img-path)/p.png');
		}
	}
}