/* ------------ MAIN CONF ------------ */

$main-black:      #373737;
$main-blue:       #00abe6;
$main-width: 	  1440px;
$min-width: 	  1024px;

/* -------------- PATHS -------------- */

$font-path:       /dev/fonts;
$img-path:        /dist/images;

/* -------------- FONTS -------------- */

$bebas-mod-reg:  'bebas_modregular';
$yellow-mod-reg: 'yellow-modregular';